body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    margin-top:15vh;
    color:dimgray;
    margin-left: 10%;
    margin-right: 10%
}

/**************************************** HOME PAGE *****************************/
h1.mainTitle {
    background-color: darkgray;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color:black;
    margin-top:0%;
    padding-top:5%;
    padding-bottom:5%;
    font-size:xx-large
    /*font-weight: 400;*/
}

div#nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vw;
    margin-left:5%;
    margin-right:5%;
}

body#home{
    margin-top:0%;
    margin-left:0%;
    margin-right:0%
}

section.generalInfo{
    margin-left: 10%;
    margin-top: 5%
}

/*************************** HEADER BARS **************************/

header.titlebar{
    position:fixed;
    display:flex;
    width:100%;
    top: 0%;
    left: 0%;
    justify-content:space-around;
    align-items: center;
    background-color:#B22234;
    height: 6vh;
    color:gainsboro;
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
}

header.titlebar a.roomLink {
    text-decoration: none;
}
   

header.navbar{
    position:fixed;
    display:flex;
    width: 100%;
    left:0%;
    top:6vh;
    justify-content:space-around;
    background-color:#3b3c6e;
    color:gainsboro;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0%;
    /*height: 6vh;*/
    font-size: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

header.navbar div.dropDownItem a{
    display:none;
    text-decoration:none;
    color:gainsboro;
    background-color: #3b3c6e;
    /*width:fit-content; */
    padding-top:0.5vh;
    /*height: fit-content;*/

}

header.navbar:hover div.dropDownItem a{
    display:block;
}




/***************************** FOOTERS ***********************************/

footer {
    background-color: darkgrey;
    display: flex;
    font-size: 0.7em;
    bottom: 0%;
    padding-top:1.5%;
    padding-bottom: 2%;
    width: 124.8%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin-left: -12.3%;
    margin-right: -12.5%;
    margin-bottom: -3%;
    margin-top:5%;
}

/****************************** LINKS *************************************/

/*                        floor link                            */
a.floorLink:link, a.floortlink:hover, a.floorlink:active, a.floorlink:visited{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    width:45%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding-top: 7.5vw;
    padding-bottom: 7.5vw;
    text-decoration: none;
}

a.floorLink:hover {
    font-size: 4em;
    padding-top:5vw;
    padding-bottom: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
a.floorLink:active {
    /*font-size: 2em; */
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 0vw;
    padding-right:0vw;
    
}

a#tutorfLink {
    background-color: #B22234;
    color:gainsboro;
}
a#SATfLink {
    background-color: #3b3c6e;
    color:gainsboro;
}

/*                         room link                      */

a.roomLink#title{
    color:gainsboro;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    text-decoration: none;
}

a.roomLink:link{
    color:gainsboro;
    padding-top: 1%;
    padding-bottom: 1%;
}

a.roomLink:visited{
    color:gainsboro;
}

a.roomLink#logo:link{
    text-decoration:none;
}

div.nextPage{
    margin-top:5%;
    text-align: right;
    font-style: italic;
}

div.nextPage a{
    color:dimgray;
    text-decoration: none;
    font-weight: bold;
}


/********************************** IMAGES ***************************/

img#satStockPhoto,
img#tutorStockPhoto{
    height:40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:10px solid dimgray;
}

img#mathReference, img#mathGrid{
    width:55%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
    border: 3px solid dimgray;
    border-radius: 2px
}

img#mathGrid{
    width:45%
}

img.logo {
    height: 5vh;
    margin: 10%;
}

p.attribution{
    font-size: 0.7em;
    margin-top:0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50vh;
}

p.attribution a{
    color:slategray;
    font-weight: bold;
    text-decoration: none
}

img#flyer {
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************** Tables and OTHER ********************/

table{
    margin:5%;
    border: 1.5px solid darkgray
}

td{
    padding-right:5vw;
    border: 1px solid darkgray
}

td.tableHead{
    background-color:gainsboro
}

blockquote{
    color:slategrey;
    font-style:italic;
    font-size:0.9em;
}

div.websiteLinks a{
    color:#3b3c6e
}

p.sidebar, blockquote.scoreQuotes{
    background-color:gainsboro;
    color:slategray;
    border-radius:6px;
    padding-left:3%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:1%;
    border-left:1px solid slategray;
    border-right:1px solid slategray;
    width: 60%;
    margin-left:auto;
    margin-right:auto
}


/*{
    border: 2px dotted black;
}
