.dontshow{
    display:none
}

li#hidden, li#hidden2, li#hidden3, li#hidden4, li#hidden5, li#hidden6{
    color:slategray;
}

li#hidden:hover, li#hidden2:hover, li#hidden3:hover, li#hidden4:hover, li#hidden5:hover, li#hidden6:hover{
    font-weight:bold;
}